<ion-view view-title="" class="home">
  <ion-content class="center">
        <div class="spacer" style="height: 350px;"></div>
        <div class="row">
          <div class="col-20 col-offset-25 col-top">
              <button class="button button-block button-calm" ng-click="loginUser()">Login Pin</button>
         </div>

          <div class="col-40 col-offset-9 col-top">
            <button class="button button-block button-energized">Register</button>
         </div>
        </div>
  </ion-content>
</ion-view>
