<ion-view view-title="" class="home" cache-view="false">
  <ion-content class="center">
        <div class="spacer" style="height: 350px;"></div>
        <div class="row">
            <button class="col button button-outline button-energized icon ion-person-add" ng-click="register()" ng-show="!bothRegistered">Register</button>
  <button class="col button button-outline button-calm  button-clear icon ion-log-in" ng-click="loginUser1()">Login</button>
        <!--<div class="col-20 col-offset-10 col-top">
              <button class="button button-block button-calm" ng-click="loginUser()">Login</button>
         </div>
        <div class="col-20 col-offset-45 col-top">
              <button class="button button-block button-assertive" ng-click="doLogin()">Login2</button>
         </div>-->
        <!--<div class="col-20 col-offset-25 col-top">-->
              
         <!--</div><div class="spacer" style="width: 10px;"></div>
          <div class="col-40 col-offset-9 col-top">-->
            
         <!--</div>-->
        <!--<div class="col-40 col-offset-9 col-top">
            <button class="button button-block button-energized" ng-click="logout()">Log out</button>
         </div> 
        <div class="col-40 col-offset-9 col-top">
            <button class="button button-block button-energized" ng-click="phoneNumber()">Phone</button>
         </div>-->
        </div>
  </ion-content>
 
<div class="bar bar-clear bar-footer row">
 v0.4.5_1 <!--BR-{{bothRegistered}}-->
  <!--<button class="col col-33 button button-outline button-energized icon ion-person-add" ng-click="register()" ng-show="!bothRegistered">Register</button>
  <button class="col col-33 button button-outline button-calm icon ion-log-in" ng-click="loginUser1()">Login</button>-->
  <div class="col">
    <div class="col col-offset-33">&copy; kitaki 2015 </div>
    </div>
</div>
</ion-view>
