<ion-view view-title="FAQ" cache-view="false" >
     <!--<ion-nav-view name="menuContent"></ion-nav-view>-->
     
       <ion-content padding="true"  class="padding scroll-bg"> 
            <div class="spacer" style="height: 40px;"></div>
                <div class="bar bar-subheader">
                    <h2 class="title">FAQ</h2>
                </div>
            <div class="spacer" style="height: 40px;"></div>
               
            <div class="item item-body">
                <p style="text-align:"><h2><strong style="font-size:18px">11 FAQs on developing new products.</strong></h2>
                <div style="color:blue" >
Apart from a good idea, what do we need for successful product development?<br><br>
Should we try to develop completely new products, or to improve existing ones?<br><br>
What are the main risks in new product development?<br><br>
How can we reduce the risks of new product development?<br><br>
Are there any easy ways of telling that a product idea is unlikely to succeed?<br><br>
What are the main stages in new product development?<br><br>
How do we manage the product development process?<br><br>
Is it worth creating a prototype?<br><br>
Who should be involved in new product development?<br><br>
How can we reduce production costs for a new product?<br><br>
How does new product development fit into our overall business strategy?<br><br>
                 </div> 
                <div style="color:black;text-align:justify">
<h2  style="font-size:18px">1.&nbsp; Apart from a good idea, what do we need for successful product development?</h2>
You need a complete range of relevant skills. As well as the technical skills involved in developing the product, these include:<br><br>

<li>Market research skills to ensure that your product meets customer demands.</li>
<li>Design skills for the product and its packaging.</li>
<li>Purchasing and production skills.</li>
<li>Financial skills for project budgeting, costing and product pricing.</li>

You may need to involve people from outside your business for some of these skills. For example, it's common for businesses to use external designers, though you must take care to ensure that you retain the intellectual property rights.<br><br>
As well as the skills, you need to commit sufficient resources to the project, in terms of both money and people's time. A personal commitment to the success of the project is also important to drive it forward.

<h2  style="font-size:18px">2.&nbsp; Should we try to develop completely new products, or to improve existing ones?</h2>
In practice, most new products are improvements on existing products. Although improving an existing product might seem to have less potential than developing a completely new product, it is often enough to give you a competitive edge in a proven market.<br><br>
Improving existing products is generally easier and less risky than developing completely new ideas. You are likely to have a better understanding of the technologies involved and customer preferences for that kind of product. The development process is usually less complex, requires less investment and can be completed more quickly. That said, if you manage to successfully develop and protect a ground-breaking innovation - something that really is a first - the rewards can be huge.

<h2  style="font-size:18px">3.&nbsp; What are the main risks in new product development?</h4>
<li>With any new product, there is a risk that you may not produce what customers want. This risk is typically higher when new product ideas are based on the availability of new technologies or your own inspiration rather than being customer-led. So it's a good idea to aim to solve or improve a customer experience rather than merely rehash existing products.</li>
<li>During the development process, you may need to overcome technical hurdles. There are also likely to be a range of other operational risks: for example, ensuring that you have a secure supply of reliable components.</li>
<li>Finally, there is the financial risk if your new product doesn't generate sufficient demand at a price that is profitable. Bear in mind that sales income will need to cover the cost of product development, and that you may face additional marketing costs to stimulate demand for your new product.</li>

<h2  style="font-size:18px">4.&nbsp; How can we reduce the risks of new product development?</h4>
<li>Wherever possible, look for evidence that you are working along the right lines.Market research can help ensure that there is sufficient customer demand, that you are meeting customer requirements and that you set the right price. It can also be a good idea to produce a prototype (see 8).</li>
<li>If your innovation is entirely ground-breaking then research might not help because there might be no near comparison to measure your idea against. Those that were asked to evaluate the first telephone, for example, said that it had no commercial viability!</li>
<li>It's often also a good idea to limit how ambitious your project is. It may not be worth being the first with a completely new idea. Similarly, you might be better off designing a new product to use existing components: even if new components might make an even better product, they also increase the risk.</li>
<h2  style="font-size:18px">5.&nbsp; Are there any easy ways of telling that a product idea is unlikely to succeed?</h4>
<li>An over-ambitious project may well fail, either because it is technically too complex or because it requires a level of resources that you cannot afford or that isn't justified by the likely returns. In cases like this, it's worth considering whether a less ambitious project would be more likely to succeed.</li>
<li>Even if you manage to develop a new product, you will only be successful if the product is profitable. This is less likely to happen if:</li>
<ul>
<li>You operate in a market where customers resist paying a significant price premium for new products.</li>
<li>Your customer base is small and you find it difficult to reach new customers.</li>
<li>It's easy for competitors to copy your new product.</li>
</ul>

<h2  style="font-size:18px">6.&nbsp; What are the main stages in new product development?</h4>
<li>Customers are a good starting point. Look at what they want from a new or improved product. Some businesses like to think in terms of a 'unique selling proposition' (USP) - a clear reason why customers should switch to your product.</li>
<li>Prepare a product specification (spec) listing what features your product must have, and how they translate into specific requirements. For example, a product might need to be strong but also lightweight. You will also want to specify other constraints: for example, whether the product needs to match other products in your range or to meet specific legal requirements.</li>
<li>The design phase uses this spec to design the product. Effective design is wide-ranging. As well as fulfilling the product spec, it includes considering how component and processing costs can be minimised.</li>
<li>As the design progresses, you may have one or more pre-launch stages when you test the product. For example, you might develop a prototype (see 8) or you might launch a pilot version of the product to a few customers to help iron out problems and build demand. Some products need to be submitted for product testing and certification.</li>
<li>Finally, you have the launch and roll-out of the product.</li>

<h2  style="font-size:18px">7. How do we manage the product development process?</h4>
<li>Choose a product champion with the enthusiasm and energy to make things happen. Give this individual the authority to run the project (within an agreed budget) without continual interference. Set up a project team that includes people with all the relevant skills (see 9). Involve a complete team from the start so that people can work in parallel and problems can be spotted at an early stage.</li>
<li>Make sure that everyone in the team is agreed on the main objectives, based on the product specification. Use this to delegate specific areas of responsibility and objectives to individuals. Agree an overall budget and budgets for different parts of the project.</li>
<li>Draw up a critical path showing what tasks need to be completed, in what order. Build in a process of regular project review so that you can check progress and see how your plans need to be changed.</li>
<li>Work to keep the team motivated. Be prepared for setbacks along the way, and let team members know that you expect them: otherwise, individuals may be afraid of making mistakes and demoralised when problems arise. Try to maintain a 'can do' attitude; if possible, avoid including negative or obstructive individuals in the team.</li>
<h2  style="font-size:18px">8.&nbsp; Is it worth creating a prototype?</h4>
<li>It can be very helpful to have a working prototype. You can use a prototype to check that a new design works mechanically. You can also use a prototype to assess customer reaction to the look and feel of a product.</li>
<li>It may be worth going through more than one prototyping stage. For example, you could use a sketch at an early stage to gauge initial reactions to an outline design before investing heavily in developing it. If you are improving a product, you might produce models that demonstrate the improvements rather than a full prototype.</li>

<h2  style="font-size:18px">9.&nbsp; Who should be involved in new product development?</h4>
<li>Include people from all areas of the business. For example, including people from marketing, production and finance helps ensure that the project delivers a product that customers want, that you can produce and that is financially viable.</li>
<li>Make sure that your product development team includes all the skills needed. This may mean including external consultants with specific skills - for example, if you do not have in-house design skills. Once again, you must take care to ensure that you retain the intellectual property rights.</li>
<li>You may want to consider involving key customers for their ideas and feedback. You may also want to involve any suppliers who will be providing key components.</li>
<h2  style="font-size:18px">10.&nbsp; How can we reduce production costs for a new product?</h4>
<li>Crucially, you should develop your manufacturing plans at the same time as you design the product, so that efficient manufacturing is part of the design.</li>
<li>Aim to minimise the number of components and the complexity of assembly. Where possible, use inexpensive standard parts that you already use in existing components or that are easy to source.</li>
<li>Look for opportunities to subcontract work or to buy in subassemblies, rather than making everything yourself. This can help to simplify the product development process as well as reducing your eventual production costs.</li>
<li>If you use subcontractors to assist developmental work, check that it will be you who retains the intellectual property rights.</li>

<h2  style="font-size:18px">11.&nbsp; How does new product development fit into our overall business strategy?</h4>
<li>New product development is an essential part of your business strategy. Although new product development carries risks, not developing new products is even riskier: over time, competing products will outperform and you will lose customers.</li>
<li>Plan for new products on a scheduled basis. Look for opportunities to extend the lives of existing products: for example, by repackaging or adding new features. Don't wait for competitors to launch their new products before you start working on yours.</li>
                    </div>
    </p>
            </div>
<script>
    function show()
    {
        $scope.checked=!$scope.checked
    }
    </script>
    </ion-content>
</ion-view>

